<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In Page</title>
  <link rel="stylesheet" href="public/css/styles.css">
  <link rel="icon" type="image/png" href="public\images\hashing-algorithm-1.png">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>

  <div class="container">
    <form id="signInForm">
      <h2>Sign In</h2>
      <label for="userName">UserName:</label>
      <input type="text" id="userName" name="userName" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="button" onclick="signIn()">Sign In</button>
    </form>

    <p>Don't have an account? <a href="createUser_page">Create one</a></p>
  </div>

  <script src="public/js/signInScript.js"></script>
</body>

</html>